#!/usr/bin/env bash

# get machine type - https://stackoverflow.com/a/3466183
osType="$(uname -s)"

### enable aliases to be sudo’ed
#
#   http://askubuntu.com/questions/22037/aliases-not-available-when-using-sudo
alias sudo="sudo "
alias please="sudo"
alias pls="sudo"
alias plz="sudo"

### cli tool overrides
#
alias rake='noglob rake' # allow use of unescaped *[] in terminal
alias mkdir="mkdir -vp"
alias df="df -H"
alias rm="rm -iv"
alias mv="mv -iv"
alias cp="cp -irv"
alias grep="grep --color=auto"
alias make="nice make"
# replace cat with the bat - https://github.com/sharkdp/bat
alias cat="bat"
# replace ping with prettyping - https://github.com/denilsonsa/prettyping
alias ping="prettyping"
# replace top with htop - http://hisham.hm/htop/
alias top="htop"
# replace du with ncdu - https://dev.yorhel.nl/ncdu
alias du="ncdu --color dark -rr -x --exclude .git --exclude node_modules"

### clipboard
#
alias copy="pbcopy"

### ubuntu update & upgrade
#
alias uu="sudo apt-get update && sudo apt-get upgrade -y"
alias uua="sudo apt-get update && sudo apt-get upgrade -y && sudo apt-get autoremove -y"

### safety
#
# Avoid stupidity with trash-cli: using https://github.com/sindresorhus/trash-cli
# or use default rm -i if trash is not installed
if type trash &>/dev/null; then
	alias rm="trash"
else
	alias rm="rm -i"
fi

### git
#
alias lg="git log --all --decorate --oneline --graph"

# gcloud
alias gcurl='curl --header "Authorization: Bearer $(gcloud auth print-identity-token)"'

### navigation
#
# go to the /home/$USER (~) directory and clears window of your terminal
alias q="cd ~ && clear"
#
[ -d ~/Pictures ] && alias pic="cd ~/Pictures"
[ -d ~/projects ] && alias pj="cd ~/projects"

### folders
#
alias ll="ls -alF"
alias la="ls -A"
alias l="ls -CF"

### PATH
#
# pretty print $PATH
alias path='print -l $path'
alias fpath='print -l $fpath'

### download
#
# web page with all assets
alias getpage="wget --no-clobber --page-requisites --html-extension --convert-links --no-host-directories"
# file with original filename
alias get="curl -O -L"
